{% extends "base_generic.html" %}

{% block content %}
    <h1>All Owned Kosdaks</h1>
    <a href="{% url 'search_kosdak_name' %}">Search Code</a>  

    {% if kosdakinstance_list %}
    <ul>

      {% for kosdakinst in kosdakinstance_list %} 
      <li class="{% if kosdakinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'kosdak-detail' kosdakinst.kosdak.pk %}">{{kosdakinst.kosdak.name}}</a>
         ({{ kosdakinst.due_back }}) 
         {% if user.is_staff %}- {{ kosdakinst.user }}
         {% endif %} 
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no kosdaks owned.</p>
    {% endif %}       
{% endblock %}