{% extends "base_generic.html" %}

{% block content %}

<form action="" method="get">
    {% csrf_token %}
    <input type="text" name="q" value="{{q}}">
    <input type="submit" value="Search" />
    
</form>
{% if q %}
<h3>{{q}}을 입력하였읍니다 </h3>
{% for post in object_list %}
<a href="{{ post.get_absolute_url }}">{{ post.code }}</a><br />
{% endfor %}
{% endif %}
{% if object_list %}
{% for post in object_list %}
<a href="{{ post.get_absolute_url }}">{{ post.name }}</a><br />
{% endfor %}
{% elif q %}
Search Word {{ q }} Not Found!
{% endif %}
{% endblock %}